.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.art {
  width: 100%;
  max-width: 800px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.image {
  object-fit: cover;
}
