.container {
  position: absolute;
  inset: 0;
}

.art {
  width: 100%;
  max-width: 800px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.art:hover {
  opacity: 1;
}

.image {
  object-fit: cover;
}
