.container {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 2rem; */
  height: 2rem;
  border-radius: 0.375rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--muted-foreground);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.button:hover {
  color: var(--foreground);
  /* background-color: var(--muted); */
}

.active {
  color: var(--foreground);
  background-color: var(--muted);
}

.icon {
  width: 1rem;
  height: 1rem;
}
