.experiment {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem 1rem 1rem;
}

.header {
  text-align: center;
  /* margin-bottom: 2rem; */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.metadata {
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.metaItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
}

.metaLabel {
  color: #666;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--font-mono);
}

.metaValue {
  font-size: 0.9rem;
  font-family: var(--font-mono);
  text-transform: capitalize;
  font-weight: 400;
}

.tag {
  background-color: #f0f0f0;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.875rem;
}

.fullscreenButton {
  font-family: var(--font-mono);
  color: var(--muted-foreground);
  font-size: 0.9rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.backLink { 
  color: var(--muted-foreground);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.backLink:hover {
  color: var(--muted-hover);
}

.content {
  flex: 1;
  width: 100%;
  border-radius: 2px;
  margin: 2rem auto;
  max-width: 1280px;
}

.content::-webkit-scrollbar {
  display: none;
}

.nav {
  margin-bottom: 3rem;
}

.iframeContainer {
  flex: 1;
  width: 100%;
  position: relative;
  min-height: 70vh;
  background: #000;
  border-radius: 4px;
  overflow: hidden;
}

.experimentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: #000;
  margin-top: 1.6rem
}

.description_block {
  border-top: 1px solid var(--secondary);
}

.description {
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  margin: 2rem 0 0 0;
}
