:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --accent: #fc6097;
  /* --accent: #f59e0b; */
  --secondary: #73f7d1;
  --tertiary: #D9D1C3;
  --accent-foreground: #FFFFFF;
  --muted: #F3F3F3;
  --muted-hover: #4a4a4a;
  --muted-foreground: #737373;
  --mid-gray-foreground: #404040;
  --border: #e5e5e5;

  /* Glow colors */
  --glow-pink: rgba(255, 125, 125, 0.204);
  --glow-blue: rgba(0, 255, 255, 0.15);
  --glow-purple: rgba(111, 76, 255, 0.15);
  --glow-green: rgba(77, 255, 77, 0.15);

  /* Font families */
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  /* Layout */
  --sidebar-width: 260px;
  --page-padding: 2rem;

  /* Breakpoints */
  --breakpoint-tablet: 1024px;
  --breakpoint-mobile: 768px;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #FFFFFF;
  --accent: #F76B93;
  --accent-foreground: #000000;
  --muted: #1A1A1A;
  --muted-hover: #c9c9c9;
  --muted-foreground: #A3A3A3;
  --mid-gray-foreground: #404040;
  --border: #262626;
}

@keyframes flashText {
  0% {
    color: var(--text-inverted);
    opacity: 1;
  }
  49% {
    color: var(--text-inverted);
    opacity: 1;
  }
  50% {
    color: var(--mid-gray-foreground);
    opacity: 0.7;
  }
  99% {
    color: var(--mid-gray-foreground);
    opacity: 0.7;
  }
  100% {
    color: var(--text-inverted);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  font-family: var(--font-archive)
}

a {
  font-family: var(--font-inter);
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
}

.flash-on-hover:hover {
  animation: flashText 0.06s steps(2, start) infinite;
  text-decoration: none;
}

button:hover {
  /* animation: flashText 0.06s steps(2, start) infinite; */
  text-decoration: none;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.underline-animation:hover::after {
  transform: scaleX(1);
}

/* Media Queries */
@media (max-width: 1024px) {
  :root {
    --page-padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --page-padding: 1rem;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }
}