.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 4rem var(--page-padding);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.colorBlocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.dt_divs {
  width: 4rem;
  height: 100%;
  background-color: #FF69B4;
  border-radius: 1px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--font-archive);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.design {
  margin: 0;
  line-height: 1;
}

.technologist {
  margin-left: 1.8rem;
  line-height: 1;
}

.description_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.description {
  font-family: var(--font-roboto-mono);
  font-size: 0.9rem;
  color: var(--muted-foreground);
}

.heroContainer {
  position: relative;
  flex: 1;
  min-height: 0;
  /* margin: 0 0 0 2rem; */
}
